---
http_interactions:
  - request:
      method: post
      uri: https://dev.azure.com/ministrybrands/1ES/_apis/wit/wiql?api-version=6.0
      body:
        encoding: UTF-8
        string:
          '{"query":"SELECT [System.Id], [System.Title], [System.WorkItemType],
          [System.BoardColumn] FROM workitems WHERE [System.TeamProject] = ''1ES'' AND
          [System.AreaPath] = ''1ES\\DDC UI Refresh\\2023''"}'
      headers:
        Content-Type:
          - application/json
        Authorization:
          - Basic [Authorization]
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8; api-version=6.0
        X-Tfs-Processid:
          - 6b57f2eb-21dc-403b-a004-52985c335653
        Activityid:
          - 13a8f883-2099-47f8-a34b-cfa4ae414945
        X-Tfs-Session:
          - 13a8f883-2099-47f8-a34b-cfa4ae414945
        X-Vss-E2eid:
          - 13a8f883-2099-47f8-a34b-cfa4ae414945
        X-Vss-Senderdeploymentid:
          - 371dc223-5e58-9481-da2c-e75ac4f20939
        X-Vss-Userdata:
          - 615628a4-3ff5-4553-9707-cd5657149a69:kaio@codelitt.com
      body:
        encoding: ASCII-8BIT
        string:
          '{"queryType":"flat","queryResultType":"workItem","asOf":"2023-10-17T18:10:28.107Z","columns":[{"referenceName":"System.Id","name":"ID","url":"https://dev.azure.com/ministrybrands/_apis/wit/fields/System.Id"},{"referenceName":"System.Title","name":"Title","url":"https://dev.azure.com/ministrybrands/_apis/wit/fields/System.Title"},{"referenceName":"System.WorkItemType","name":"Work
          Item Type","url":"https://dev.azure.com/ministrybrands/_apis/wit/fields/System.WorkItemType"},{"referenceName":"System.BoardColumn","name":"Board
          Column","url":"https://dev.azure.com/ministrybrands/_apis/wit/fields/System.BoardColumn"}],"workItems":[{"id":144733,"url":"https://dev.azure.com/ministrybrands/57f0022b-dc73-4826-b10e-dc5a8a62daac/_apis/wit/workItems/144733"},{"id":144738,"url":"https://dev.azure.com/ministrybrands/57f0022b-dc73-4826-b10e-dc5a8a62daac/_apis/wit/workItems/144738"},{"id":144739,"url":"https://dev.azure.com/ministrybrands/57f0022b-dc73-4826-b10e-dc5a8a62daac/_apis/wit/workItems/144739"},{"id":144740,"url":"https://dev.azure.com/ministrybrands/57f0022b-dc73-4826-b10e-dc5a8a62daac/_apis/wit/workItems/144740"},{"id":144741,"[...]
  - request:
      method: get
      uri: https://dev.azure.com/ministrybrands/57f0022b-dc73-4826-b10e-dc5a8a62daac/_apis/wit/workItems/144733
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Authorization:
          - Basic OjZrbHN6M2N3M3d5Z3MzaDR0MnNmbzJid3c0NHp3anpuNHY2bXo3YWNlamd5Z3lxaGFzMmE=
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8; api-version=7.1
        X-Tfs-Processid:
          - 36607b07-1136-41b7-ad25-8b51abd1dddd
        Activityid:
          - 23e69851-6859-4a44-85b7-fb54f74b7f96
        X-Tfs-Session:
          - 23e69851-6859-4a44-85b7-fb54f74b7f96
        X-Vss-E2eid:
          - 23e69851-6859-4a44-85b7-fb54f74b7f96
        X-Vss-Senderdeploymentid:
          - 371dc223-5e58-9481-da2c-e75ac4f20939
        X-Vss-Userdata:
          - 615628a4-3ff5-4553-9707-cd5657149a69:kaio@codelitt.com
      body:
        encoding: ASCII-8BIT
        string:
          '{"id":144733,"rev":15,"fields":{"System.AreaPath":"1ES\\DDC UI Refresh\\2023","System.TeamProject":"1ES","System.IterationPath":"1ES\\DDC
          UI Refresh\\2023","System.WorkItemType":"Product Backlog Item","System.State":"Done","System.Reason":"Work
          finished","System.AssignedTo":{"displayName":"Victor Carvalho","url":"https://spsprodcus3.vssps.visualstudio.com/Ab8eb7e8a-a39e-4162-9297-cc5014f14129/_apis/Identities/21242a22-cbdf-68b7-874e-3e6243dd22ef","_links":{"avatar":{"href":"https://dev.azure.com/ministrybrands/_apis/GraphProfile/MemberAvatars/aad.MjEyNDJhMjItY2JkZi03OGI3LTg3NGUtM2U2MjQzZGQyMmVm"}},"id":"21242a22-cbdf-68b7-874e-3e6243dd22ef","uniqueName":"victor.carvalho@ministrybrands.com","imageUrl":"https://dev.azure.com/ministrybrands/_apis/GraphProfile/MemberAvatars/aad.MjEyNDJhMjItY2JkZi03OGI3LTg3NGUtM2U2MjQzZGQyMmVm","descriptor":"aad.MjEyNDJhMjItY2JkZi03OGI3LTg3NGUtM2U2MjQzZGQyMmVm"},"System.CreatedDate":"2023-08-14T21:00:09.157Z","System.CreatedBy":{"displayName":"ricardo.tinoco","url":"https://spsprodcus3.vssps.visualstudio.com/Ab8eb7e8a-a39e-4162-9297-cc5014f14129/_apis/Identities/67ba93b4-bf1f-4f73-a26c-e025ea4a588e","_links":{"avatar":{"href":"https://dev.azure.com/ministrybrands/_apis/GraphProfile/MemberAvatars/aad.NWViM2FhN2UtN2Q4Yi03N2ZkLWFjMDEtZDc5MzczNjdhMjdk"}},"id":"67ba93b4-bf1f-4f73-a26c-e025ea4a588e","uniqueName":"ricardo.tinoco@codelitt.com","imageUrl":"https://dev.azure.com/ministrybrands/_apis/GraphProfile/MemberAvatars/aad.NWViM2FhN2UtN2Q4Yi03N2ZkLWFjMDEtZDc5MzczNjdhMjdk","descriptor":"aad.NWViM2FhN2UtN2Q4Yi03N2ZkLWFjMDEtZDc5MzczNjdhMjdk"},"System.ChangedDate":"2023-09-06T14:06:51.537Z","System.ChangedBy":{"displayName":"ricardo.tinoco","url":"https://spsprodcus3.vssps.visualstudio.com/Ab8eb7e8a-a39e-4162-9297-cc5014f14129/_apis/Identities/67ba93b4-bf1f-4f73-a26c-e025ea4a588e","_links":{"avatar":{"href":"https://dev.azure.com/ministrybrands/_apis/GraphProfile/MemberAvatars/aad.NWViM2FhN2UtN2Q4Yi03N2ZkLWFjMDEtZDc5MzczNjdhMjdk"}},"id":"67ba93b4-bf1f-4f73-a26c-e025ea4a588e","uniqueName":"ricardo.tinoco@codelitt.com","imageUrl":"https://dev.azure.com/ministrybrands/_apis/GraphProfile/MemberAvatars/aad.NWViM2FhN2UtN2Q4Yi03N2ZkLWFjMDEtZDc5MzczNjdhMjdk","descriptor":"aad.NWViM2FhN2UtN2Q4Yi03N2ZkLWFjMDEtZDc5MzczNjdhMjdk"},"System.CommentCount":0,"System.Title":"Running
          DDC-StudioEnterprise Locally","System.BoardColumn":"Done","System.BoardColumnDone":false,"Microsoft.VSTS.Common.StateChangeDate":"2023-09-06T14:06:51.537Z","Microsoft.VSTS.Common.ClosedDate":"2023-09-06T14:06:51.537Z","Microsoft.VSTS.Common.ClosedBy":{"displayName":"ricardo.tinoco","url":"https://spsprodcus3.vssps.visualstudio.com/Ab8eb7e8a-a39e-4162-9297-cc5014f14129/_apis/Identities/67ba93b4-bf1f-4f73-a26c-e025ea4a588e","_links":{"avatar":{"href":"https://dev.azure.com/ministrybrands/_apis/GraphProfile/MemberAvatars/aad.NWViM2FhN2UtN2Q4Yi03N2ZkLWFjMDEtZDc5MzczNjdhMjdk"}},"id":"67ba93b4-bf1f-4f73-a26c-e025ea4a588e","uniqueName":"ricardo.tinoco@codelitt.com","imageUrl":"https://dev.azure.com/ministrybrands/_apis/GraphProfile/MemberAvatars/aad.NWViM2FhN2UtN2Q4Yi03N2ZkLWFjMDEtZDc5MzczNjdhMjdk","descriptor":"aad.NWViM2FhN2UtN2Q4Yi03N2ZkLWFjMDEtZDc5MzczNjdhMjdk"},"Microsoft.VSTS.Common.Priority":2,"Microsoft.VSTS.Common.ValueArea":"Business","Microsoft.VSTS.Scheduling.Effort":8.0,"Microsoft.VSTS.Common.BacklogPriority":1999619889.0,"Custom.ReleaseNotesRequired":false,"Custom.MBEffortType":"Tech
          Debt","Custom.MBIntegration":false,"Custom.ClientFunded":false,"Custom.OnProductInitiativeList":"Yes","WEF_486872096E464D55885A90CD6269B452_Kanban.Column":"Done","WEF_486872096E464D55885A90CD6269B452_Kanban.Column.Done":false,"Custom.ProductSubmittedUserStory":false,"Custom.DevAcceptsUserStory":false,"System.Description":"<div><span
          style=\"color:rgb(29, 28, 29);font-family:Slack-Lato, Slack-Fractions, appleLogo,
          sans-serif;font-size:15px;text-align:left;display:inline !important;\">Stiles
          mentioned that there are instructions to run the application but they could
          be out dated, so we might need to give a try to run it, he also mentioned
          running the Database locally is recommended ( we could use the database from
          the Sales App used for demonstrations ). Update the README file adding instructions
          if needed.</span><br> </div><div><span style=\"color:rgb(29, 28, 29);font-family:Slack-Lato,
          Slack-Fractions, appleLogo, sans-serif;font-size:15px;text-align:left;display:inline
          !important;\"><br></span> </div>"},"_links":{"self":{"href":"https://dev.azure.com/ministrybrands/57f0022b-dc73-4826-b10e-dc5a8a62daac/_apis/wit/workItems/144733"},"workItemUpdates":{"href":"https://dev.azure.com/ministrybrands/57f0022b-dc73-4826-b10e-dc5a8a62daac/_apis/wit/workItems/144733/updates"},"workItemRevisions":{"href":"https://dev.azure.com/ministrybrands/57f0022b-dc73-4826-b10e-dc5a8a62daac/_apis/wit/workItems/144733/revisions"},"workItemComments":{"href":"https://dev.azure.com/ministrybrands/57f0022b-dc73-4826-b10e-dc5a8a62daac/_apis/wit/workItems/144733/comments"},"html":{"href":"https://dev.azure.com/ministrybrands/57f0022b-dc73-4826-b10e-dc5a8a62daac/_workitems/edit/144733"},"workItemType":{"href":"https://dev.azure.com/ministrybrands/57f0022b-dc73-4826-b10e-dc5a8a62daac/_apis/wit/workItemTypes/Product%20Backlog%20Item"},"fields":{"href":"https://dev.azure.com/ministrybrands/57f0022b-dc73-4826-b10e-dc5a8a62daac/_apis/wit/fields"}},"url":"https://dev.azure.com/ministrybrands/57f0022b-dc73-4826-b10e-dc5a8a62daac/_apis/wit/workItems/144733"}'
    recorded_at: Tue, 17 Oct 2023 18:10:28 GMT
[...]
