---
http_interactions:
- request:
    method: get
    uri: https://team-maker.codelitt.dev/data/index?backstage_project_id=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"15de4f7aefc4d00e12f4978aed9f7ca5"
    body:
      encoding: UTF-8
      string: '{"project":{"name":"Donor Direct - development","starts_on":"2023-08-14","ends_on":"2024-03-30"},"project_requirements":[{"coverage":1.0,"starts_on":"2023-08-14","ends_on":"2024-03-30","role":"Project
        Management","assignments":[{"resource":"vinicius.medeiros@codelitt.com","starts_on":"2023-08-14","ends_on":"2024-03-30","coverage":1.0}]},{"coverage":0.5,"starts_on":"2023-08-14","ends_on":"2024-03-30","role":"Engineering","assignments":[{"resource":"pedro.guimaraes@codelitt.com","starts_on":"2023-08-14","ends_on":"2024-03-30","coverage":0.9}]},{"coverage":2.0,"starts_on":"2023-08-14","ends_on":"2024-03-30","role":"Engineering","assignments":[{"resource":"vinicius.aquino@codelitt.com","starts_on":"2023-08-14","ends_on":"2024-03-30","[...]
[...]
