---
http_interactions:
- request:
    method: get
    uri: https://team-maker.codelitt.dev/data/index?backstage_project_id=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4ac0328a7a144dc7ae9f4791c2b747c5"
    body:
      encoding: UTF-8
      string: '{"project":{"name":"Donor Direct - development","starts_on":"2023-08-14","ends_on":"2024-03-30"},"time_offs":[{"resource":"carlos.hinojosa@codelitt.com","starts_on":"2022-05-02T00:00:00.000Z","ends_on":"2022-05-03T00:00:00.000Z","type":"vacation"},{"resource":"vincent@codelitt.com","starts_on":"2022-05-24T13:00:00.000Z","ends_on":"2022-05-24T17:00:00.000Z","type":"vacation"},{"resource":"vincent@codelitt.com","starts_on":"2022-05-19T00:00:00.000Z","ends_on":"2022-05-20T00:00:00.000Z","type":"vacation"},{"resource":"vincent@codelitt.com","starts_on":"2022-05-18T00:00:00.000Z","ends_on":"2022-05-19T00:00:00.000Z","type":"vacation"},{"resource":"marina.kudrevskaia@codelitt.com","starts_on":"2022-05-23T00:00:00.000Z","ends_on":"20[...]
[...]
