---
http_interactions:
  - request:
      method: get
      uri: https://app.asana.com/api/1.0/projects/1205173534425434/tasks
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Authorization:
          - Bearer my-cool-key
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=UTF-8
        X-Asana-Api-Version:
          - "1.1"
        Asana-Change:
          - name=new_goal_memberships;info=https://forum.asana.com/t/launched-team-sharing-for-goals/378601;affected=true
          - name=new_user_task_lists;info=https://forum.asana.com/t/update-on-our-planned-api-changes-to-user-task-lists-a-k-a-my-tasks/103828
        Datacenter-Time-End:
          - "1698076796.639"
        X-Loadbalancer:
          - prod-lb009.ec2
      body:
        encoding: ASCII-8BIT
        string:
          '{"data":[{"gid":"1205784763748989","name":"Improve Crisis Call Notification
          Process ","resource_type":"task","resource_subtype":"default_task"},{"gid":"1205784626909091","name":"Update
          Search for Add Participant to a Call","resource_type":"task","resource_subtype":"default_task"},{"gid":"1205784626909080","name":"Call
          Flow Documentation","resource_type":"task","resource_subtype":"default_task"},{"gid":"1205741833711069","name":"Clear
          the Cache in the iOS App When Signing Out","resource_type":"task","resource_subtype":"default_task"},{"gid":"1205652020431437","name":"Servers
          Naming [...]
  - request:
      method: get
      uri: https://app.asana.com/api/1.0/tasks/1205784763748989
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Authorization:
          - Bearer my-cool-key
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=UTF-8
        X-Asana-Api-Version:
          - "1.1"
        Asana-Change:
          - name=new_goal_memberships;info=https://forum.asana.com/t/launched-team-sharing-for-goals/378601;affected=true
          - name=new_user_task_lists;info=https://forum.asana.com/t/update-on-our-planned-api-changes-to-user-task-lists-a-k-a-my-tasks/103828;affected=true
        Datacenter-Time-End:
          - "1698076797.939"
        X-Loadbalancer:
          - prod-lb013.ec2
      body:
        encoding: ASCII-8BIT
        string:
          '{"data":{"gid":"1205784763748989","actual_time_minutes":null,"assignee":{"gid":"1205129513782759","name":"Alessandro
          Alves","resource_type":"user"},"assignee_status":"inbox","completed":false,"completed_at":null,"created_at":"2023-10-23T13:44:18.641Z","custom_fields":[{"gid":"1205204669027460","enabled":true,"name":"Story
          Points","description":"","number_value":2,"precision":0,"created_by":{"gid":"1205173534425439","name":"Ronaldo
          Silva","resource_type":"user"},"display_value":"2","resource_subtype":"number","resource_type":"custom_field","is_formula_field":false,"is_value_read_only":false,"type":"number"},{"gid":"1205204669027477","enabled":true,"name":"Card","description":"","created_by":{"gid":"1205173534425439","name":"Ronaldo
          Silva","resource_type":"user"},"display_value":"MC-242","resource_subtype":"text","resource_type":"custom_field","text_value":"MC-242","is_formula_field":false,"is_value_read_only":false,"type":"text"},{"gid":"1205204675335341","enabled":true,"enum_options":[{"gid":"1205204675335342","color":"blue-green","enabled":true,"name":"MyCareUI","resource_type":"enum_option"},{"gid":"1205204675335343","color":"cool-gray","enabled":true,"name":"iOS
          App","resource_type":"enum_option"},{"gid":"1205204675335344","color":"pink","enabled":true,"name":"MyCareAPI","resource_type":"enum_option"},{"gid":"1205406508955645","color":"blue","enabled":true,"name":"MyCareLogin","resource_type":"enum_option"},{"gid":"1205344987870802","color":"magenta","enabled":true,"name":"Design","resource_type":"enum_option"},{"gid":"1205204675335354","color":"yellow-orange","enabled":true,"name":"Project
          Management","resource_type":"enum_option"},{"gid":"1205204675335345","color":"purple","enabled":true,"name":"PTO","resource_type":"enum_option"}],"enum_value":{"gid":"1205204675335344","color":"pink","enabled":true,"name":"MyCareAPI","resource_type":"enum_option"},"name":"Context","description":"","created_by":{"gid":"1205173534425439","name":"Ronaldo
          Silva","resource_type":"user"},"display_value":"MyCareAPI","resource_subtype":"enum","resource_type":"custom_field","is_formula_field":false,"is_value_read_only":false,"type":"enum"},{"gid":"1205226353162873","enabled":true,"name":"Duration
          (Days)","description":"","number_value":1,"p[...]
[...]
